body{background: #DDD url(../images/bg.png) repeat}
a {outline: none;}
/*typograhy*/  
  body, caption, th, td, input, textarea, select, option, legend, fieldset {font-family: Arial,helvetica,sans-serif;}
  body {color: #222;font-size: 12px;}
  h2 {font-size: 21px;line-height:22px;}
  h4 {font-size: 11px;font-weight: bold;}
  .meta {color: #88734C;margin-top: 4px;}
  a, a:link, a:visited, a:active {color:#006a87;}
  .meta a,.meta a:link,.meta a:visited,.meta a:active {color:#006a87;}	
  .author a,.author a:link,.author a:visited,.author a:active {color: #006a87;}
  .subject a {background-color: #F26306;font-size:11px;line-height: 18px;padding:0 4px;display: inline-block;margin: 0 0 8px;}
  h4 a, h4 a:link, h4 a:visited, h4 a:active {color:#222;font-size:11px;line-height:14px;}

  #pagefooter h3, 
  .pane-event_list h3, 
  #path, 
  .subject a, 
  .more-link a, 
  .pane-event_list li div, 
  .pane-event_list h4 a, 
  .pane-library_feature_list ul li, 
  .view-feature-list li div.title a {font-size:11px;}


#container {background:none;}
#pageheader{background: transparent url('../images/bg-header.png') no-repeat 0 0; width: 994px; height: 316px; position:relative;}
	#site-name {height:38px; width:168px; margin:0; padding:0; position:absolute; top:50px; left:55px;}
    #site-name a{text-indent: -9999em;}
	  #site-name a{height:38px; width:168px; display: block; overflow:hidden; background:transparent url(../images/logo.png) no-repeat 0 0;}

    #path {margin:10px 57px 0;}
    .breadcrumb{padding:0 5px;} 
    .breadcrumb a,.breadcrumb a:link,.breadcrumb a:visited,.breadcrumb a:active{padding:0 5px; color:#DA511F;}

    #helpers{position:absolute; top:43px; left:766px; margin:0; width:230px; }
      #helpers li{float:left; margin-right:20px; font-size:10px;}
      #helpers li .print{background: transparent url(../images/printer.png) no-repeat 0 center; padding:5px 0 5px 20px;}
      #helpers li .read{background: transparent url(../images/bog.png) no-repeat 0 center; padding:5px 0 5px 20px;}
      #helpers li .english{background: transparent url(../images/uk.png) no-repeat 0 center; padding:5px 0 5px 30px;}      

    #top{height:281px}
      #ting-search-form{background:none; padding:0; margin:0; position:absolute; top:183px; left:54px; width:355px;}
        #ting-search-form .form-text {height:31px; width:259px; padding:0 0 0 30px; margin:0 4px 0 0; border: 0px solid #999;}
        #ting-search-form .form-button {padding:0; float:left;}
        #ting-search-form .form-submit {border: 1px solid #e3dfd5; background:#e3dfd5; height:30px;}
        #ting-search-form div.example{display:none;}
        #ting-search-form label {padding:3px 0 0px 30px;}
        #account {position:absolute; top:110px; left:766px; margin:0; width:210px;}
        #user-login-form{background:url("../images/logind.png") no-repeat scroll 0 0 transparent;}
        #user-login-form  #edit-name-wrapper input {width:180px; border:none;}
        #user-login-form .form-text {background:#eeece6;}
        #edit-pass-wrapper, #edit-pass-wrapper input {width:130px;}
        #user-login-form #edit-pass-wrapper input { width:130px;}     
        #user-login-form #edit-pass-wrapper {width:130px;}     

        #account #edit-remember-me-wrapper label {color:#999;}
        
        #account a {color:#000;}
          #account-profile {width:190px; padding:5px; margin-top:50px; background:#e3dfd5; margin:10px;}
          #account-profile h5 {color:#999;}
          #account-profile div.logout {margin:0}
          #account-profile div.logout a {background:none; padding:0;}
          #account-profile .username a {background:none;}

      #header{position:absolute; left:285px; top:40px;height:50px;   width:500px;}
        #header h3{font-size:10px; text-decoration:uppercase; font-width:bold;}
        #header ul li{float:left;  font-size:10px; width:250px; color:#88734C;}
        #header ul li div{float:left;}
        #header ul li div.title{width:150px;}
        #header ul li div.field-opening-hours-scope{width:100px;}


    #pagebody {background: transparent url('../images/bg-page-top.png') no-repeat scroll top left; padding-top:34px;    }
      #pagebody-inner{background: url('../images/bg-page.png') repeat-y top left; padding:0 0 0 54px;}
      #content-inner {margin:0;}
      
.panel-threecol-33-34-33-stacked .left{width:700px;}
.panel-threecol-33-34-33-stacked .right{width:210px;float:left;}
.panel-threecol-33-34-33-stacked .panel-top{width:670px; padding-right:20px; padding-bottom:20px; height:auto;}
.panel-threecol-33-34-33-stacked .panel-top{width:670px; padding-right:20px; padding-bottom:20px;}
.panel-threecol-33-34-33-stacked .panel-left{width:450px; padding-right:10px}
.panel-threecol-33-34-33-stacked .panel-middle{width:210px; padding-right:20px;}

.panel-threecol-left-stacked .panel-left .view-article-list { width:440px;}
.panel-top {background:none}



.frontpage .panel-content .left{width:670px; padding-right:20px; float:left;}
  .frontpage .panel-content .left .panel-top{width:670px; padding-right:20px; padding-bottom:20px; height:auto;}
  .frontpage .panel-left{width:440px; padding-right:20px; float:left;}
    .frontpage .panel-left .view-article-list { width:440px; float:left;}
    .frontpage .panel-middle{width:210px; float:left;}
.frontpage .panel-content .right{width:210px; float:left;}

.basepage .panel-left{width:440px; padding-right:20px; float:left;}
.basepage .panel-middle{width:210px; padding-right:20px; float:left;}
.basepage .panel-right{width:210px;float:left;}

.subpage .panel-left{width:670px; padding-right:20px; float:left}
.subpage .panel-right{width:210px;float:left}


body.node-type-page .panel-threecol-left-stacked-right .panel-middle {background:none; padding:0;} 

.view-article-list .article-content{width:320px; float:left;}
.view-article-list .article-image{width:120px; float:left; padding:0;}

.panel-threecol-left-stacked .panel-left  {background:none;}



      
 #pagefooter{background: url('../images/bg-page-footer.png') no-repeat scroll top left; padding:40px 0 20px 0; height:240px;}     
  #pagefooter-inner {background:none; padding:0 0 0 54px; height:210px;}

  #pagefooter-inner ul li.expanded{float:left; padding:0 20px 0 0;}
  #pagefooter-inner ul li span.nolink{padding:0 0 10px 0; width:120px; display:block; text-transform:uppercase; color:#da511f;}  
  #pagefooter-inner ul.menu li.expanded ul.menu {margin:0}
  #pagefooter-inner ul.menu li.leaf {margin:0}
  #pagefooter ul li a {background:none; padding:0;}  
  
  #pagefooter .footerlink{padding:0 0 0 54px;}
  

  
  
  
/*menu*/  
#navigation{height: 36px; padding:0 0 0 20px;}
#navigation-inner {margin:0 30px;}
#navigation li{height:30px; text-align:center; padding:0; margin:0; background: transparent url(../images/bg-menu.gif) no-repeat left 5px;}
#navigation li.first{margin:0; padding:0; background:none;}
  #navigation li a{color:#333333; border:none; padding:3px 0 0 0; margin:0 17px; font-size:14px; text-transform: uppercase; }
  #navigation li.first a{margin:0 17px 0 0;}
  #navigation li a:hover{color:#999}
  #navigation li.active-trail a{font-weight:bold; border-bottom: 5px solid #da511f;  padding-bottom:10px;} 
  #navigation li.active a, #navigation a:hover  {color:#000;}
/**/  
  .content-top {background:none; left:0px;  padding:0}     
  .panel-threecol-33-34-33-stacked .panel-middle, .panel-threecol-33-34-33-stacked .panel-left  {background:none; border:none;}
  
/*FONTS & COLORS*/
  h2 {font-size:22px;  line-height:24px;text-transform: uppercase; }
  h2 a, h2 a:link, h2 a:visited, h2 a:active, h3 a, h3 a:link, h3 a:visited, h3 a:active {color:#da511f;}
  
  .subject{padding:0 0 6px 0; }
  .subject a, .subject a:link, .subject a:visited, .subject a:active {background-color:#006889; padding:2px; font-size:9px; line-height:13px; margin:0;}
  .meta a, .meta a:link, .meta a:visited, .meta a:active {color:#88734c;}
  .meta ul li, .view .meta ul li {border:none!important;}
  a, a:link, a:visited, a:active, ul.pager li a {color:#88734c;}
 
  ul.menu li.leaf > a.active, ul.menu li > a.active, li.active-trail > a {color:#88734c;  font-weight:bold;  }

.panel-right h3, #event-list h3,.ding-box-pane h3,.ding-box-wide h3,   .pane-library_feature_list h3 {background:#88734c none; color:#fff; margin:0; padding:0px 0 2px 10px; font-weight:normal; font-size:10px; text-transform:uppercase;}


  .panel-right ul.menu li.leaf {margin:0}
  .panel-right  ul.menu li.leaf a {background: transparent url(../images/arrow.png) no-repeat 0  5px; padding:0 0  0 10px; font-size:10px; font-weight:bold;text-transform:uppercase; color:#000; margin-left:5px;}

 /*boxes*/
 .panel-threecol-left-stacked .panel-middle .ding-box-pane {margin:0;}
 .ding-box-pane .pane-library_feature_list ul.item-list {padding:0;}
  .ding-box-pane{background:none;}

  .ding-box-pane ul {background:none;}
  .ding-box-pane ul li {  margin:0;  padding:0;  width:200px; }  
  .ding-box-pane .pane-library_hours {background:none;}
  .ding-box-pane .odd {background:none;}
  .ding-box-wide,.ding-box-wide ul {background:none;}
  

.library-info,.library-info-inner,
.library-info .library-map {background:none; padding:0;}
.library-info .vcard {padding:0;}

.pane-library_title ul.item-list{display:none;}

body.page-arrangementer .panel-middle, body.ding-arrangementer .panel-middle, .tab-navigation-main {background:none;}
.view-event-list ul li{padding:0 0 10px 0;}

.tab-navigation li, .page-arrangementer .panel-left ul li, .ding-arrangementer .panel-left ul li, .ding-ting-collection .panel-left ul li, .tab-navigation ul li {border:none;}
 
.pane-tagadelic-2{background:none; padding:0;}
/* artcile listings */  
.panel-left .view ul li, 
.panel-left ul.item-list li, 
.panel-left .pane-library_feature_detail_list ul li,
.pane-event_list-panel_pane_1 .view-event-list li  {background:none;  margin:0;  padding:5px 0px;  border-top: 1px solid #e9e6e0; }  

.panel-left .view, .panel-left .pane-library_feature_detail_list ul.item-list {left:0px;}
.panel-threecol-33-34-33-stacked .panel-left .view-article-list {width:440px;}

/*biblo liste*/
body.page-biblioteker .panel-left .view ul li {clear:both; padding:5px 0 5px 0;}
.view-library-list .picture{width:120px; height:120px; float:left; }
.view-library-list .content{width:365px; float:left;}


/*calendar*/
#event-list li{background:none; padding:5px 0 0 0;}
#event-list li .calendar-leafs .leaf, #event-list li .calendar-leafs .leaf.today{background:none;}
#event-list li .calendar-leafs .leaf{padding:0; margin:0 5px 5px 0;}
#event-list li .calendar-leafs div.leaf .day {background-color: #666;}
#event-list li .calendar-leafs div.leaf {border-right: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2}
#event-list li .calendar-leafs .info {width:145px}
#event-list .view-footer{margin:0; font-size:10px; border-top: 1px solid #f2f2f2}
  #event-list .more-link {padding:0 5px 0 10px; float:right; background: transparent url(../images/arrow.png) no-repeat left center;}

  #event-list li div.leaf {font-family:verdana; }
  #event-list li div.leaf .day{text-transform: uppercase;}
  #event-list li .calendar-leafs .leaf.today .day {background:#d54b03;}
  #event-list li div.info h4 a {color:#000;font-weight:bold;}
  #event-list li div.info a {color:#88734c; font-weight:bold;}


.feed-icon{float:left;  font-size:10px}
.feed-icon a.feed-icon{display:block; width:16px; height:16px; background:#f0f; background: transparent url(../images/rss.png) no-repeat;}
.feed-icon a img{display:none;}
.feed-icon span {display:none;}

.more-link a, a.more-link {background:none}

/*pagers*/
body.page-arrangementer .panel-middle .view-event-list ul.pager li, #pager div.navwide, #pager div.nav, ul.pager li, ul.pager li.pager-next, ul.pager li.pager-item, ul.pager li.pager-last, ul.pager li.pager-previous, ul.pager li.pager-first, .panel-left ul.pager li.pager-first, #ting-result-pager ul li.current, .panel-left ul.pager li.pager-current {background:none; padding:10px 0;}
#pager, ul.pager {background:none}

/*campaigns*/
.campaign-type-text-only,.campaign-inner,.campaign-text {background:none;}
.campaign-text a,.campaign-text a:link, .campaign-text a:visited,.campaign-text a:active {background:none; color:#fff;}
.campaign-text {width:210px}

.library-info .links {padding:0;}

/*featured frontpage thingie*/

#featured{width:670px; position:relative; background:#fff; height:240px;}
#featured ul.ui-tabs-nav{position:absolute; z-index:20; top:0; left:448px; list-style:none;  padding:0; margin:0;  width:220px;}
  #featured ul.ui-tabs-nav li{color:#666; border:none;}
    #featured li.ui-tabs-nav-item a{color:#fff;display:block; background: url(../images/tab.png) no-repeat; width: 202px; height: 43px; overflow:hidden; font-weight:bold; padding:5px 0 0 20px; line-height:13px;}
    #featured li.ui-tabs-nav-item a:hover{color:#333; }
    #featured li.ui-tabs-selected{}
    #featured ul.ui-tabs-nav li.ui-tabs-selected a{background: url(../images/tab-active.png) no-repeat; width: 202px; height: 43px; overflow:hidden;  padding-top:5px; color:#fff;}
    #featured ul.ui-tabs-nav-item.count-4 li.ui-tabs-selected a{background: url(../images/tab-active.png) no-repeat; width: 202px; height: 42px; overflow:hidden;  padding-top:5px; color:#fff;}

  #featured .ui-tabs-panel{width:460px; height:240px; overflow:hidden; position:relative; margin:0; padding:0;}
    #featured .ui-tabs-panel .image{position:absolute; z-index:1;}
    #featured .ui-tabs-panel .info{position:absolute; z-index:10; bottom:0; left:0; height:90px; width:460px; background: transparent url(../images/bluegbg-75.png); }
    #featured .ui-tabs-panel .info h3 {margin:10px 10px 0 20px;}
    #featured .ui-tabs-panel .info h3 a {font-size:20px; line-height:20px; color:#fff; font-weight:bold; text-transform:uppercase;}
    #featured .ui-tabs-panel .info h3 a:hover{text-decoration:none!important; color:#eee;}
    #featured .ui-tabs-panel .info p{margin:0px 20px; color:#fff;}
  
  #featured .ui-tabs-hide{  display:none; }

