#pageheader,
#pagefooter,
.pane-addthis-0,
.pane-relevant_campaigns {
  display: none;
}

/* Make user loan status more printable. */
#ding-library-user-loan-list-form table,
#ding-reservation-list-form table{
font-size:120%;
  width: 100%;
}

body.ding-status .panel-twocol-left-stacked .panel-left {
  width: 100%;
}

.panel-twocol-left-stacked .content-left {
  width: 90%;
}